<!DOCTYPE html>
<html>

<head>
    <title>help</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="icon" href="/image/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
    <h1>This help message is being displayed below :</h1>
    <p>
        {{message}}
    </p>

    </div>
    

    {{>footer}}
</body>

</html>